<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="https://dexie.org/assets/images/favicon-yuri.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    {{{head}}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
